
<div class='explain'>
    <span style="text-align:center"><h3> How to Play Border Race</h3></span>
    <table>

        <tr>
            <td><img src="{{MEDIA_URL}}images/explain1.png" alt="" /></td>
            <td> The goal of this game is to join the two coasts of the United States using a set of 24 random states selected from 48 (Hawaii and Alaska excluded).  Click the "New Game" button to play.
            To win the game, join the east to the west coast by connecting states on the map.  To place a state on the map click on the corresponding state card.  Coastal states must be placed first. (these cards are highlighted light-blue)  Clicking a card once it has been placed on the map will take it off the map. 
            </td>
        </tr>


        <tr>
            <td><img src="{{MEDIA_URL}}images/explain2.png" alt="" /> </td>
            <td>The "wild" card counts as any card that shares a border with the last card in the path. In the example to the left the wild card is clicked after Oklahoma giving the player TX, NM, CO, NE and MO. (highlighted in yellow)
                <p>

            There are two other modes, "Advanced" and "Practice".  An advanced game will hide the details of the map so that it is harder to place states.  A practice game is the same as a normal game except that it disables the 3 minute timer.
        </tr>

</div>
