<div class="maparea" style="z-index: 200; width:  460px; height: 300px; position: relative;
    background-image: url('{{ MEDIA_URL }}images/usa2.png')" > <!-- 514/344 the canvas that accepts the div's -->
    <div style=" margin-right: auto;
        position: absolute;
        top:100px;
        left:60px;
        font-weight: bold;
        width:300px;
        font-size:24px;
        margin-left: auto;
        z-index:800;
        text-align: center;"
        id="message"> 
    </div>

    <div id="clock"></div>
         <div class="state" id="AL" style="width:33px; height:51px; position: absolute; top: 180px; left: 307px;">
         </div>
         <div class="state" id="AR" style="width:38px; height:35px; position: absolute; top: 169px; left: 254px;">
         </div>
         <div class="state" id="AZ" style="width:53px; height:63px; position: absolute; top: 158px; left: 88px;">
         </div>
         <div class="state" id="CA" style="width:69px; height:108px; position: absolute; top: 97px; left: 26px;">
         </div>
         <div class="state" id="CO" style="width:57px; height:45px; position: absolute; top: 123px; left: 139px;">
         </div>
         <div class="state" id="CT" style="width:15px; height:14px; position: absolute; top: 94px; left: 407px;">
         </div>
         <div class="state" id="DE" style="width:10px; height:14px; position: absolute; top: 124px; left: 400px;">
         </div>
         <div class="state" id="FL" style="width:74px; height:56px; position: absolute; top: 218px; left: 317px;">
         </div>
         <div class="state" id="GA" style="width:44px; height:48px; position: absolute; top: 177px; left: 330px;">
         </div>
         <div class="state" id="IA" style="width:50px; height:32px; position: absolute; top: 99px; left: 235px;">
         </div>
         <div class="state" id="ID" style="width:51px; height:76px; position: absolute; top: 38px; left: 82px;">
         </div>
         <div class="state" id="IL" style="width:34px; height:57px; position: absolute; top: 107px; left: 275px;">
         </div>
         <div class="state" id="IN" style="width:28px; height:46px; position: absolute; top: 111px; left: 302px;">
         </div>
         <div class="state" id="KS" style="width:61px; height:31px; position: absolute; top: 137px; left: 195px;">
         </div>
         <div class="state" id="KY" style="width:58px; height:32px; position: absolute; top: 137px; left: 294px;">
         </div>
         <div class="state" id="LA" style="width:47px; height:44px; position: absolute; top: 203px; left: 260px;">
         </div>
         <div class="state" id="MA" style="width:31px; height:16px; position: absolute; top: 84px; left: 406px;">
         </div>
         <div class="state" id="MD" style="width:42px; height:23px; position: absolute; top: 121px; left: 367px;">
         </div>
         <div class="state" id="ME" style="width:30px; height:47px; position: absolute; top: 36px; left: 413px;">
         </div>
         <div class="state" id="MI" style="width:62px; height:56px; position: absolute; top: 59px; left: 279px;">
         </div>
         <div class="state" id="MN" style="width:51px; height:55px; position: absolute; top: 47px; left: 232px;">
         </div>
         <div class="state" id="MO" style="width:54px; height:47px; position: absolute; top: 128px; left: 243px;">
         </div>
         <div class="state" id="MS" style="width:29px; height:50px; position: absolute; top: 182px; left: 283px;">
         </div>
         <div class="state" id="MT" style="width:84px; height:49px; position: absolute; top: 39px; left: 102px;">
         </div>
         <div class="state" id="NC" style="width:74px; height:34px; position: absolute; top: 150px; left: 338px;">
         </div>
         <div class="state" id="ND" style="width:54px; height:31px; position: absolute; top: 47px; left: 184px;">
         </div>
         <div class="state" id="NE" style="width:68px; height:33px; position: absolute; top: 105px; left: 181px;">
         </div>
         <div class="state" id="NH" style="width:11px; height:26px; position: absolute; top: 64px; left: 410px;">
         </div>
         <div class="state" id="NJ" style="width:12px; height:22px; position: absolute; top: 104px; left: 399px;">
         </div>
         <div class="state" id="NM" style="width:53px; height:57px; position: absolute; top: 164px; left: 134px;">
         </div>
         <div class="state" id="NV" style="width:53px; height:77px; position: absolute; top: 104px; left: 56px;">
         </div>
         <div class="state" id="NY" style="width:62px; height:43px; position: absolute; top: 69px; left: 363px;">
         </div>
         <div class="state" id="OH" style="width:36px; height:37px; position: absolute; top: 106px; left: 325px;">
         </div>
         <div class="state" id="OK" style="width:72px; height:33px; position: absolute; top: 167px; left: 186px;">
         </div>
         <div class="state" id="OR" style="width:64px; height:50px; position: absolute; top: 58px; left: 31px;">
         </div>
         <div class="state" id="PA" style="width:44px; height:28px; position: absolute; top: 100px; left: 359px;">
         </div>
         <div class="state" id="RI" style="width:7px; height:10px; position: absolute; top: 93px; left: 421px;">
         </div>
         <div class="state" id="SC" style="width:41px; height:33px; position: absolute; top: 174px; left: 347px;">
         </div>
         <div class="state" id="SD" style="width:57px; height:38px; position: absolute; top: 77px; left: 182px;">
         </div>
         <div class="state" id="TN" style="width:72px; height:24px; position: absolute; top: 160px; left: 289px;">
         </div>
         <div class="state" id="TX" style="width:113px; height:110px; position: absolute; top: 172px; left: 154px;">
         </div>
         <div class="state" id="UT" style="width:45px; height:55px; position: absolute; top: 110px; left: 101px;">
         </div>
         <div class="state" id="VA" style="width:69px; height:36px; position: absolute; top: 128px; left: 337px;">
         </div>
         <div class="state" id="VT" style="width:13px; height:25px; position: absolute; top: 65px; left: 400px;">
         </div>
         <div class="state" id="WA" style="width:54px; height:34px; position: absolute; top: 33px; left: 43px;">
         </div>
         <div class="state" id="WI" style="width:42px; height:50px; position: absolute; top: 60px; left: 261px;">
         </div>
         <div class="state" id="WV" style="width:43px; height:37px; position: absolute; top: 117px; left: 344px;">
         </div>
         <div class="state" id="WY" style="width:56px; height:44px; position: absolute; top: 83px; left: 128px;">
         </div>
</div> <!-- end of canvas -->     
