{% extends 'states/base.html' %}
{% block container %}
<div style="padding:20px; margin-right:auto; margin-left:auto; width:500px">
    <a href="/"><img src="{{MEDIA_URL}}images/lewis-and-clark-expedition.jpg" alt="not found" /></a>
</div>

<div style="clear:both;font-size:24px; width:100%;text-align:center;font-weight:bold">
    After a treacherous journey and an exhaustive search through inodes on disk and bits in the database we came up empty handed for the page you requested.
</div>
{% endblock %}

