{% extends 'states/base.html' %}
{% block container %}
<div style="padding:20px; margin-right:auto; margin-left:auto; width:599px">
    <a href="/"><img src="/media/images/hamiltonburrduel.jpg" alt="not found" /></a>
</div>

<div style="clear:both; width:100%;text-align:center;"> 
<span style="font-size:24px;font-weight:bold">Uh-oh, you killed the web-server</span>
<br /><br />
We encountered an error, sorry for the inconvenience. Feel free let us know by emailing <a href="mailto:info@borderrace.com">info@borderrace.com</a> and explain what you were doing when the error occurred. <b>Please try again by refreshing the main page and making sure both javascript and cookies are enabled in your browser. </b>
</div>

{% endblock %}

